{% extends "index.html" %}
{% load static %}
{% block title %}Register{% endblock title %}
{% block content %}
<!-- banner -->
<div class="" id="home">
    <div class="layer">
        <div class="container">
            <div class="row">
                <div class="col-2 banner-text-w3pvt">
                    <!-- banner slider-->
                    
                    <!-- //banner slider-->
                </div>
                <div class="col-8 px-0 mb-5 ">
                    <div class="banner-form-w3 ml-lg-5">
                        <div class="padding">
                            <!-- banner form -->
                            <form enctype="multipart/form-data" action="" method="post" >
                                {% csrf_token %}
                                <h5 class="mb-3">Register and Join in our school</h5>
                                <div class="form-style-w3ls">
                                    <label for="fname">First Name</label>
                                    <input value="{{teach.user.first_name}}" name="fname" type="text" id="fname" required="">
                                    <label for="">Last Name</label>
                                    <input value="{{teach.user.last_name}}" name="lname" type="text" required="">
                                    <label for="">User Name</label>
                                    <input value="{{teach.user.username}}" name="uname" type="text" required="">
                                    <label for="">Email Id</label>
                                    <input value="Y{{teach.user.email}}" name="email" type="email" required="">
                                    <label for="">Age</label>
                                    <input value="{{teach.Teach_Age}}" name="age" type="age" required=""></br></br>
                                    <label for="">Contact Number</label>
                                    <input value="{{teach.Teach_Number}}" name="number" type="text" required="">
                                    <img src="{{teach.Teach_Image.url}}" width="100px" alt=""></br>
                                    <label for="">Upload Your photo</label>
                                    <input  name="image" type="file" required="">
                                    <label for="">Course</label>
                                    <select name='sel'>
                                        {% for c in cor %}
                                        <option {% if c.id == teach.course.id %}selected{% endif %} value="{{c.id}}">{{c.Course_Name}}</option>
                                        {% endfor %}
                                    </select>
                                    <label for="addr">Address</label>
                                    <textarea class="form-control" name="addr" id="addr">{{teach.Teach_Address}}</textarea>
                                    <button Class="btn mt-3" type="submit"> Update</button>
                                    
                                </div>
                            </form>
                            <!-- //banner form -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- //banner -->
{% endblock content %}