<!DOCTYPE html>
<html lang="en">
<head>
	
	<title>{% block title %}{% endblock title %}</title>
	
	{% load static %}
	<!-- for-mobile-apps -->
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta name="keywords" content="Child Learn Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template, 
	Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />

		<script>
			addEventListener("load", function () {
				setTimeout(hideURLbar, 0);
			}, false);

			function hideURLbar() {
				window.scrollTo(0, 1);
			}
		</script>
		
		
		<!-- css files -->
		<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css">
		<script src="https://cdn.jsdelivr.net/npm/jquery@3.6.4/dist/jquery.slim.min.js"></script>
		<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
		<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js"></script>
		<script src="https://kit.fontawesome.com/4060fb10bc.js" crossorigin="anonymous"></script>
		<link rel="stylesheet" href="{% static "css/style.css" %}">
		<!-- //css files -->
		
		<!-- google fonts -->
		<link href="//fonts.googleapis.com/css?family=Lato:100,100i,300,300i,400,400i,700,700i,900,900i&amp;subset=latin-ext" rel="stylesheet">
		<!-- //google fonts -->
</head>
<body>

	<!-- header -->
	<header class="bg-dark">
		
		<div class="container">
			<!-- nav -->
			<nav class="py-3 d-lg-flex ">
				<div id="logo">
					<h1> <a href="{% url "home" %}"><img src="{% static 'images/s2.png' %}" alt=""> Kira College </a></h1>
				</div>
				<label for="drop" class="toggle"><span class="fa fa-bars"></span></label>
				<input type="checkbox" id="drop" />
				<ul class="menu ml-auto mt-1">
					<li class="active"><a href="{% url "home" %}">Home</a></li>
					<li class=""><a href="{% url "about" %}">About</a></li>
					<li class=""><a href="{% url "services" %}">Services</a></li>
					{% if user.is_staff %}
					<li class=""><a href="{% url "teachers" %}">Teachers</a></li>
					<li class=""><a href="{% url "course" %}">Course</a></li>
					<li class=""><a href="{% url "students" %}">Students</a></li>
					{% else %}
					<li class=""><a href="{% url "teacher" %}">Teacher</a></li>
					{% endif %}
					<li class=""><a href="{% url "login" %}">Login</a></li>
					{% if user.is_authenticated %}
					<li class=""><a href="{% url "logout" %}">Logout</a></li>
					{% else %}
					<li class=""><a href="{% url "register" %}">Register</a></li>
					{% endif %}
					
					
				</ul>
			</nav>
			<!-- //nav -->
		</div>
	</header>
	<!-- //header -->

	
	{% block content %}{% endblock content %}
	
		


	

	

	{% comment %} <!-- move top -->
	<div class="move-top text-right">
		<a href="#home" class="move-top"> 
			<span class="fa fa-angle-up  mb-3" aria-hidden="true"></span>
		</a>
	</div>
	<!-- move top --> {% endcomment %}

</body>
</html>