{% extends "index.html" %}
{% load static %}
{% block title %}Register{% endblock title %}
{% block content %}
<!-- banner -->
<div class="" id="home">
    <div class="layer">
        <div class="container">
            <div class="row">
                <div class="col-2 banner-text-w3pvt">
                    <!-- banner slider-->
                    
                    <!-- //banner slider-->
                </div>
                <div class="col-8 px-0 mb-5 ">
                    <div class="banner-form-w3 ml-lg-5">
                        <div class="padding">
                            <!-- banner form -->
                            <form action="#" method="post">
                                {% csrf_token %}
                                <h5 class="mb-3">Register and Join in our school</h5>
                                <div class="form-style-w3ls">
                                    
                                    <label for="">User Name</label>
                                    <input placeholder="User Name" name="uname" type="text" required="">
                                    <label for="">Password</label>
                                    <input placeholder="Password" name="password" type="password" required="">
                                    
                                    <button Class="btn" type="submit"> Login</button>
                                    
                                </div>
                            </form>
                            <!-- //banner form -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- //banner -->
{% endblock content %}