{% extends "index.html" %}
{% load static %}
{% block title %}Services{% endblock title %}
{% block content %}
<!-- services -->
<section class="services py-5" id="services">
    <div class="container py-5">
        <h3 class="heading mb-3 py-4">Our Services</h3>
        <div class="row ml-sm-5 ">
            <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12">
                <div class="our-services-wrapper mb-60">
                    <div class="services-inner">
                        <div class="our-services-img">
                            <img src="{% static 'images/s1.png' %}" alt="">
                        </div>
                        <div class="our-services-text">
                            <h4>Quality Education</h4>
                            <p>A quality education that equips students with the knowledge</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12">
                <div class="our-services-wrapper mb-60">
                    <div class="services-inner">
                        <div class="our-services-img">
                            <img src="{% static 'images/s2.png' %}" alt="">
                        </div>
                        <div class="our-services-text">
                            <h4>Experienced Staff</h4>
                            <p>We are proud to have a team of highly experienced staffs</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12">
                <div class="our-services-wrapper mb-60">
                    <div class="services-inner">
                        <div class="our-services-img">
                            <img src="{% static 'images/s3.png' %}" alt="">
                        </div>
                        <div class="our-services-text">
                            <h4>Ac Classrooms</h4>
                            <p>A comfortable and conducive learning environment</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12">
                <div class="our-services-wrapper mb-60">
                    <div class="services-inner">
                        <div class="our-services-img">
                            <img src="{% static 'images/s4.png' %}" alt="">
                        </div>
                        <div class="our-services-text">
                            <h4>Study Certificate</h4>
                            <p>Accredited study certificates that are recognized globally.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12">
                <div class="our-services-wrapper mb-60">
                    <div class="services-inner">
                        <div class="our-services-img">
                            <img src="{% static 'images/s5.png' %}" alt="">
                        </div>
                        <div class="our-services-text">
                            <h4>Study Materials </h4>
                            <p>Proin varius pellentesque nunc tincidunt ante. Init id lacus</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12">
                <div class="our-services-wrapper mb-60">
                    <div class="services-inner">
                        <div class="our-services-img">
                            <img src="{% static 'images/s6.png' %}" alt="">
                        </div>
                        <div class="our-services-text">
                            <h4>Library Books</h4>
                            <p>comprehensive study materials  to support academic journey</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- positioned image -->
        <div class="position-image py-5">
            <img src="{% static 'images/services.png' %}" alt="" class="img-fluid py-4">
        </div>
        <!-- //positioned image -->
    </div>
</section>
<!-- //services -->
 
{% endblock content %}